.container {
    display: flex;
    align-items: center;
    background-color: white;
      border-radius: 50px;
    height: 30rem;
    margin-bottom: 10rem;
}

.windowIcon {
 flex-direction: column;
  scale: 60%;
 max-width: 100%;
    height: auto;
}
h2{
    font-weight: bold;
    font-size: x-large;
}


.windowDescription {
    padding-right: 40%;
}
