.container {
    display: flex;
    align-items: center;
}

.windowIcon {
 flex-direction: column;
  scale: 60%;
 max-width: 100%;
    height: auto;
}
h2{
    font-weight: bold;
    font-size: x-large;
}


.windowDescription {
    padding-right: 40%;
}
