.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phoneIcon {
    align-content: flex-end;
    scale: 60%;
    height: auto;
    max-width: 100%;
}

.windowTitle {
    display: flex;
    flex-direction: column;
    text-align: end;

}
.windowDescription {

}


