.navbar {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 10;
}

.navIcon {
  display: none;
}

.navContainer {
  display: flex;
  justify-content:end;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.navLogo {

  display: flex;
   justify-content:start;
  align-items: center;
  scale: 0.5;
  margin: 0;
}

.logo {
  width: 100%;
  height: auto;

}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.navLinks {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.navLinksActive {
  background-color: #070707;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.navItem:hover:after {
  width: 100%;
  background: black;

}

.navBurger{
    display: none;
  }

@media screen and (max-width: 960px) {
  .navLogo {
    display: none;
  }

  .navbar {
    background-color: rgb(132, 149, 220);
  }

  .navBurger {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: black;
  }

  .navMenu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    display: none;
    align-items: center; /* Center items in the navMenu */
  }

  .navMenu.active {
    background-color: rgb(132, 149, 220);
    left: 0;
    right: 0;
    display: flex;
    z-index: 1;
  }

  .navItem {
    width: 80%; /* Make nav items take full width */
    text-align: center; /* Center text within each item */
  }

  .navItem .active {
    color: white;
    border: none;
  }

  .navLinks {
    padding: 1.5rem;
    width: 100%; /* Make nav links take full width */
    display: table;
    text-align: center; /* Center each link's text */
  }

  .navLogo .icon {
    width: 2rem;
    height: 2rem;
  }

  .navIcon {
    display: flex;
    width: 50%;
    height: auto;
  }
}
